<head>
  <title>CpERMS | Compendium</title>
  <!-- LOCAL -->
  <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>

{{> header }}

<!--forget pw-->
<div class="container">
  <div class="row justify-content-center align-items-center">
    <div class="col-md-12 col-sm-12">
      <h4>PUP CpE Thesis Compendium</h4>
      <hr class="botm-line">
      Batch 2010
      <table class="table table-striped small">
        <thead>
          <tr class="info">
            <th>Title</th>
            <th>Author</th>
            <th>Adviser</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Access Control to Home Devices using Mobile Technology</td>
            <td>Ryan Richard P. Aguila, Lorenz F. Amor, Joel J. Buenaventura, Bryan B. dela Paz</td>
            <td>Engr. Julius S. Cansino, Engr. Ronald D. Fernando</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div><!--forget pw-->

{{> footer }}