<head>
  <title>CpERMS | Registration</title>
  <!-- LOCAL -->
  <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>

{{> header_admin }}

<!--admin registration-->
<div class="d-flex justify-content-center small">
  <div>
    <div class="navbar navbar-static">
      <div class="navbar-collapse collapse">
        <!--inside nav-->
        <ul class="nav nav-tabs" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#user_reg" role="tab" aria-selected="true">User Registration</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#class_reg" role="tab" aria-selected="true">Class Registration</a>
          </li>
        </ul><!--inside nav-->
      </div>
    </div>
    <br>
    <div class="tab-content well">
      <!--user_reg-->
      <div id="user_reg" class="tab-pane fade in active">
        <div class="container">
          <div class="row justify-content-center align-items-center">
            <div class="col-md-12 col-sm-12">
              <h4>User Registration</h4>
              <hr class="botm-line">
              <div class="container">
                <div class="row justify-content-center align-items-center">
                  <div class="col-md-9 col-sm-9">
                    <form method="POST" action="reg">
                      <!--usertype class batch-->
                      <div class="row form-group">
                        <div class="col-sm-6">
                          <select style="height: 2.5em" class="form-control gray" name="class" id="user_type" required>
                            <option value="" hidden>Usertype</option>
                            <option value ="student">Student</option>
                            <option value ="faculty">Faculty</option>
                            <option value ="guest_panel">Guest Panel</option>
                            <option value ="admin">Admin</option>
                          </select>
                        </div>
                        <div class="col-sm-6">
                          <select style="height: 2.5em" class="form-control gray" name="class" id="user_class" disabled="" required>
                            <option hidden>Class</option>
                            <option value ="1">1 </option>
                            <option value ="2">2</option>
                            <option value ="3">3</option>
                            <option value ="4">4</option>
                            <option value ="4">5</option>
                          </select>
                        </div>
                      </div><!--usertype class batch-->
                      <div class="form-group">
                         <input type="name" name="fname" class="form-control" id="first_name" placeholder="First Name" required>
                      </div>
                      <div class="form-group">
                         <input type="name" name="mname" class="form-control" id="middle_name" placeholder="Middle Name" required>
                      </div>
                      <div class="form-group">
                         <input type="name" name="lname" class="form-control" id="last_name" placeholder="Last Name" required>
                      </div>
                      <div class="form-group">
                         <input type="number" name="contacts" class="form-control" id="contact_number" placeholder="Contact Number" required>
                      </div>
                      <div class="form-group">
                         <input type="email" name="email" class="form-control" id="email_address" placeholder="Email Address" required>
                      </div>
                      <div class="form-group">
                         <input type="text" name="username" class="form-control" id="user_username" placeholder="Username" required>
                      </div>
                      <div class="form-group input-group">
                         <input type="password" name="password1" class="form-control" id="user_password1" placeholder="Password" required>
                         <div class="input-group-addon">
                            <span toggle="#user_password1" class="fa fa-fw fa-eye see-pw toggle-password"></span>
                         </div>
                      </div>
                      <div class="form-group input-group">
                         <input type="password" name="password2" class="form-control" id="user_password2" placeholder="Confirm Password" required>
                         <div class="input-group-addon">
                            <span toggle="#user_password2" class="fa fa-fw fa-eye see-pw toggle-password"></span>
                         </div>
                      </div>
                      <div class="form-group">
                         <button type="submit" class="btn btn-success pull-right" id="loading" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Please wait..."><i class="fa fa-paper-plane"></i> Register</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div><!--user_reg-->
      <!--class_reg-->
      <div id="class_reg" class="tab-pane fade">
        <div class="container">
          <div class="row justify-content-center align-items-center">
            <div class="col-md-12 col-sm-12">
              <h4>Class Registration</h4>
              <hr class="botm-line">
              <div class="container">
                <div class="row justify-content-center align-items-center">
                  <div class="col-md-9 col-sm-9">
                    <form method="POST" action="reg">
                      <div class="row form-group">
                        <div class="col-sm-6">
                          <input type="number" name="fname" class="form-control" id="first_name" placeholder="Class Number" required>
                        </div>
                        <div class="col-sm-6">
                          <input type="number" name="fname" class="form-control" id="first_name" placeholder="Batch" required>
                        </div>
                      </div>
                      <div class="form-group">
                        <select style="height: 2.5em" class="form-control gray" name="class" id="user_type" required>
                          <option value="" hidden>Adviser</option>
                          <option value ="1">Name 1</option>
                          <option value ="2">Name 2</option>
                          <option value ="3">Name 3</option>
                          <option value ="4">Name 4</option>
                        </select>
                      </div>
                      <div class="form-group">
                         <button type="submit" class="btn btn-success pull-right" id="loading" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Please wait..."><i class="fa fa-paper-plane"></i> Register</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div><!--class_reg-->
    </div><!--tab content-->
  </div><!--well-->
</div><!--row-->
<!--admin registration-->

{{> footer }}

<script type="text/javascript" src="../../js/seepassword.js"></script>

<script type="text/javascript">
  $("#user_type").change(function() {
    if ($(this).val() == "student") {
      $("#user_class").prop("disabled", false);
    }
    else
      $("user_class").prop("disabled", true);
  });
</script>