<head>
  <title>CpERMS | Signup</title>
  <!-- LOCAL -->
  <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>

{{> header }}

<!--forget pw-->
<div class="container">
  <div class="row justify-content-center align-items-center">
    <div class="col-md-6 col-sm-6">
      <div class="row box">
        <div class="col-md-12">
          <div class="text-center">
            <h3>Sign Up <a class='reminder' data-toggle='popover' data-placement='bottom'><i class='fa fa-info-circle'></i></a></h3>
            <hr class="redline">
          </div>
          <form method="POST" action="signup">
              <div class="form-group">
                 <label class="sr-only" for="first_name">First Name</label>
                 <input type="name" name="fname" class="form-control" id="first_name" placeholder="First Name" required>
              </div>
              <div class="form-group">
                 <label class="sr-only" for="last_name">Last Name</label>
                 <input type="name" name="lname" class="form-control" id="last_name" placeholder="Last Name" required>
              </div>
              <div class="form-group">
                 <label class="sr-only" for="contact_number">Contact Number</label>
                 <input type="number" name="contacts" class="form-control" id="contact_number" placeholder="Contact Number" required>
              </div>
              <div class="form-group">
                 <label class="sr-only" for="email_address">Email Address</label>
                 <input type="email" name="email" class="form-control" id="email_address" placeholder="Email Address" required>
              </div>
              <div class="form-group">
                 <label class="sr-only" for="user_username">Username</label>
                 <input type="text" name="username" class="form-control" id="user_username" placeholder="Username" required>
              </div>
              <div class="form-group">
                 <label class="sr-only" for="user_class">Class</label>
                 <select style="height: 2.5em" class="form-control" name="class" class="form-control" id="user_class" placeholder="Class" required>
                    <option value ="1">1</option>
                    <option value ="2">2</option>
                    <option value ="3">3</option>
                    <option value ="4">4</option>
                    <option value ="5">5</option>
                 </select>
              </div>
              <div class="form-group">
                 <label class="sr-only" for="user_password">Password</label>
                 <input type="text" name="password" class="form-control" id="user_password" placeholder="Password" required>
                 <div class="help-block text-right small">Already have an account? <a href="home">Login</a></div>
              </div>
              <div class="form-group">
                 <button type="submit" class="btn btn-success btn-block" id="loading" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Please wait...">Sign up</button>
              </div>
           </form>
        </div>
      </div>
    </div>
  </div>
</div><!--forget pw-->

{{> footer }}

<script type="text/javascript" src="../js/popover.js"></script>

