<head>
  <title>CpERMS | Advisory</title>
  <!-- LOCAL -->
  <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>

{{> header_faculty }}

<!--faculty advisory-->
<div class="row justify-content-center align-items-center">
  <div class= "well well-width">
    <div class="container">
      <div class="row justify-content-center align-items-center">
        <div class="col-md-12 col-sm-12">
          <h4>Advisory</h4>
          <hr class="botm-line">
        </div>
      </div>
    </div>
  </div>
</div><!--faculty advisory-->

{{> footer }}
