<head>
  <title>CpERMS | DP I</title>
  <!-- LOCAL -->
  <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>

{{> header_faculty }}

<!--dp1-->
<div class="d-flex justify-content-center small">
  <div>
    <div class="navbar navbar-static">
      <div class="navbar-collapse collapse">
        <!--inside nav-->
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#class" role="tab" aria-selected="true">Class</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#defense_1" role="tab" aria-selected="false">Defense I</a>
          </li>
        </ul><!--inside nav-->
      </div>
    </div>
    <br>
    <div class="tab-content well">
      <!--class-->
      <div id="class" class="tab-pane fade in active">
        <div class="container">
          <div class="row justify-content-center align-items-center">
            <div class="col-md-12 col-sm-12">
              <h4>Class</h4>
              <hr class="botm-line">
              
            </div>
          </div>
        </div>
      </div><!--class-->
      <!--defense_1-->
      <div id="defense_1" class="tab-pane fade">
        <div class="container">
          <div class="row justify-content-center align-items-center">
            <div class="col-md-12 col-sm-12">
              <h4>Defense I</h4>
              <hr class="botm-line">
              
            </div>
          </div>
        </div>
      </div><!--defense_1-->
    </div><!--tab content-->
  </div><!--well-->
</div><!--row-->
<!--dp1-->

{{> footer }}